<div class="publicidade last">
</div>

<footer class="rodape">
  <div class="container">
    <a id="instagramRodape" href="https://www.instagram.com/deliciosasdicas/" target="_blank" title="Siga-nos no Instagram">
      <img src="{{ "assets/img/icon-insta.png" | relative_url }}" alt="Siga-nos no Instagram" title="Siga-nos no Instagram">
      Deliciosas Dicas
    </a>
  </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ "assets/js/main.js" | relative_url }}"></script>
<script id="dsq-count-scr" src="//deliciosas-dicas.disqus.com/count.js" async></script>
