*{
  padding: 0;
  margin: 0;
}

$color1 : #0094da;
$color2: #604c45;

$primary: 'Varela Round', sans-serif;
$secundary: 'Oxygen', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Varela+Round|Oxygen:400,700');

.container-full{
  margin: 0 auto;
  max-width: 1560px;
}

.container{
  margin: 0 auto;
  max-width: 1300px;
}

.top{
  padding: 15px 0;
  .container-full{
    display: flex;
    align-items: center;
  }
}

.logo{
  width: 100%;
  max-width: 100px;
  img{
    width: 100%;
  }
}

.menu{
  margin-left: auto;
  ul{
    display: flex;
    li{
      margin: 0 15px;
      list-style: none;
      a{
        font-family: $primary;
        text-decoration: none;
        font-weight: bold;
        color: $color2;
        &:hover{
          color: $color1;
          transition: all .2s linear;
        }
      }
    }
  }
}

.btn-menu{
  width: 70px !important;
  margin-left: auto;
  margin-bottom: 5px;
  position: absolute;
  right: 10px;
  top: 40px;
  display: none;
  span{
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 5px;
    background: $color1;
  }
}

.publicidade{
  margin: 20px auto 50px;
  text-align: center;
}

.publicidade.last{
  margin: 100px auto;
}

.categories{
  text-align: center;
  margin-bottom: 40px;
  background: #0094da;
  ul{
    display: block;
    li{
      margin: 15px 30px;
      list-style: none;
      display: inline-block;
      a{
        font-family: $primary;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        font-size: 18px;
        &:after{
          content: "";
          width: 0%;
          height: 4px;
          margin-top: 5px;
          background: #fff;
          display: block;
        }
        &:hover{
          color: #fff;
          transition: all .2s linear;
        }
        &:hover:after{
          width: 100% !important;
          transition: all .2s linear;
        }
      }
      a.active{
        color: #fff;
        &:after{
          width: 100% !important;
        }
      }
    }
  }
  &:before{
    content: "";
    width: 100%;
    height: 61px;
    background: #0094da;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.open{
  right: 0;
  transition: all .2s linear;
}

.list{
  .container{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
}

.post{
  position: relative;
  width: 100%;
  max-width: 390px;
  margin: 0 auto 40px;
  &:hover .title{
    transition: all .4s linear;
    color: $color1;
  }

  .thumbnaill{
    width: 100%;
    max-width: 366px;
  }

  a{
    text-decoration: none;
    color: $color1;
    font-weight: bold;
  }

  .title{
    font-family: $secundary;
    font-weight: bold;
    color: $color2;
    font-size: 20px;
    margin-top: 25px;
  }

  .tag{
    background: $color1;
    padding: 5px 25px;
    position: absolute;
    left: 12px;
    bottom: 55px;
    font-family: $secundary;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }

  time{
    font-family: $secundary;
    color: $color2;
    font-size: 13px;
  }
}

.post.open{
  max-width: 940px;
  .title{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #0094da;
  }
  time{
    margin-bottom: 25px;
    display: block;
  }
  .thumbnaill{
    max-width: 100%;
  }
  p{
    text-align: left;
    margin: 15px 0;
    font-family: $secundary;
    color: $color2;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  ul{
    text-align: left;
    margin-left: 50px;
    font-family: $secundary;
    color: $color2;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  hr{
    border: 0;
    height: 40px;
  }
  h2{
    font-family: $primary;
    color: $color1;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
    &#modo-de-preparo:before{
      content: "";
      width: 39px;
      height: 39px;
      background: url('../img/icon-preparo.png') no-repeat;
      display: inline-block;
      margin-right: 15px;
      position: relative;
      top: 5px;
    }
    &#ingredientes:before{
      content: "";
      width: 39px;
      height: 39px;
      background: url('../img/icon-ingredientes.png') no-repeat;
      display: inline-block;
      margin-right: 15px;
      position: relative;
      top: 5px;
    }
    &#bonus-e-sugestao:before{
      content: "";
      width: 39px;
      height: 39px;
      background: url('../img/icon-bonus.png') no-repeat;
      display: inline-block;
      margin-right: 15px;
      position: relative;
      top: 5px;
    }
  }
}

#instagram{
  display: block;
  position: fixed;
  bottom: -150px;
  z-index: 10;
  transition: all .2s linear;
  text-decoration: none;
  img{
    width: 100%;
    max-width: 80px;
  }
  span{
    display: block;
    width: 80px;
    margin-bottom: 10px;
    font-family: $primary;
    color: $color1;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff;
  }
}

#instagram.fix{
  transition: all .2s linear;
  bottom: 20px;
}

.filter-drop-spacer{
  position: absolute;
}

.contato{
  width: 100%;
  max-width: 570px;
  margin: 50px auto;
  input, textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    max-width: 570px;
    font-family: $secundary;
  }
  button{
    width: 100%;
    padding: 15px;
    border: 0;
    background: $color1;
    color: #fff;
    cursor: pointer;
    font-family: $primary;
    font-weight: bold;
    font-size: 18px;
    &:hover{
      opacity: .8;
      transition: all .2s linear;
    }
  }
  textarea{
    min-height: 150px;
  }
  span{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-family: $secundary;
    color: #604c45;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: bold;
  }
}

.rodape{
  display: block;
  width: 100%;
  background: $color1;
  position: relative;
  bottom: 0;
  padding: 10px 0;
  a{
    font-family: $secundary;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    max-width: 210px;
    margin: 0 auto;
  }
  a:first-child{
    margin: 60px auto 30px;
  }
  a:last-child{
    max-width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
  }
}

@media screen and (max-width: 1256px){
  .categories:before{
    display: none;
  }
}

@media screen and (max-width: 1200px){
  #instagram{
    right: 10px;
    width: 50px;
    span{
      width: 100%;
      font-size: 10px;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff;
    }
  }
}

@media screen and (max-width: 1700px){
  .container-full, .container{
    padding: 0 2%;
  }
}

@media screen and (max-width: 780px){
  .categories ul{
    padding: 5px;
  }
  .categories ul li{
    display: block
  }
  .btn-menu{
    display: block;
    span{
      height: 8px;
    }
  }

  .categories.open{
    display: block;
  }
  .categories, .menu{
    display: none;
  }
}

@media screen and (max-width: 480px){
  .menu{
    display: none;
  }
  .top a{
    display: block;
    width: 100%;
  }
  .logo{
    display: block;
    margin: 0 auto;
  }
  .categories{
    margin-bottom: 0;
  }

  .publicidade{
    display: none;
  }

  .container-full, .container{
    max-width: 340px;
  }
  .logo{
    max-width: 140px;
  }
  .post.open .title{
    font-size: 30px;
  }
  .post.open h2{
    font-size: 25px;
  }

  .btn-menu{
    top: 0;
  }

  .post .title{
    font-size: 18px;
  }
}
